@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo ao Hangaviões da Fiel!</h1>
    <h2>Seu sistema de gerenciamento de um Hangar de Aviões!</h2>
</div>
