@model HangavioesDaFiel.Models.Team

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Equipe de Manutenção</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="EmployeeId" class="control-label"></label>
                <select asp-for="EmployeeId" class="form-control" asp-items="ViewBag.EmployeeId"></select>
                <span asp-validation-for="EmployeeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Identifier" class="control-label"></label>
                <input asp-for="Identifier" class="form-control" />
                <span asp-validation-for="Identifier" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Aptitude" class="control-label"></label>
                <select asp-for="Aptitude" class="form-control">
                    <option value="AM1">Monomotor</option>
                    <option value="AM2">Bimotor</option>
                    <option value="AM3">Trimotor</option>
                    <option value="AM4">Quadrimotor</option>
                    <option value="AM5">Multimotor</option>
                </select>
                <span asp-validation-for="Aptitude" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Status" /> @Html.DisplayNameFor(model => model.Status)
                </label>
            </div>
            <div class="form-group" style="padding-top: 20px">
                <a asp-action="Index" class="btn btn-outline-info">Voltar</a>
                <input type="submit" value="Salvar" class="btn btn-primary" style="float: right" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
